.modal-title {
    font-size: 1.8rem; /* Larger title */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.75rem;
    width: 2rem;
    padding: 0;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    transition: background-color 250ms;
    color: #333;
  }
  
  .close-btn:hover {
    background-color: #eaeaea;
  }
  .event-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .event-div-color{
    display: flex;
    margin-bottom: 1rem;
    gap: 10px;
  }
  .modal-checkbox{
    flex-direction: row;
    align-items: center;
  }
  .modal-checkbox > input{
    cursor: pointer;
  }

  .event-div label{
    font-weight: bold;
  }

  .event-input {
    padding: 5px 10px;
  }
  .event-boxes{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .event-checkbox input {
    cursor: pointer;
    margin-right: 0;
  }
  
  .event-checkbox div {
    padding-left: 0.5rem;
    cursor: pointer;
  }

  .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem; /* Larger close button */
    width: 2.5rem; /* Increased size */
    height: 2.5rem; /* Increased size */
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    transition: background-color 250ms;
    color: #333;
  }

  .close-btn:hover {
    background-color: #eaeaea;
  }

  .event-row {
    display: flex;
  }


.event-row > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 0.5rem;
  }
  
  .event-row > :last-child {
    margin-right: 0;
  }
  .modal-colors > * {
    flex-grow: 0;
  }

  
  .color-radio {
    position: absolute;
    opacity: 0;
    left: -9999px;
  }
  
  .color-radio + label::before {
    content: "";
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.25;
  }
  
  .color-radio:checked + label::before {
    opacity: 1;
  }
  
  .color-radio:focus + label::before {
    outline: 1px solid black;
  }
  
  .color-radio[value="blue"] + label::before {
    background-color: var(--blue-background);
  }
  
  .color-radio[value="red"] + label::before {
    background-color: var(--red-background);
  }
  
  .color-radio[value="green"] + label::before {
    background-color: var(--green-background);
  }

  .hide-color {
    visibility: hidden;
    height: 0;
    width: 0;
    display: block;
  }