.modal-title {
    font-size: 1.8rem; /* Larger title */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.75rem;
    width: 2rem;
    padding: 0;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    transition: background-color 250ms;
    color: #333;
  }
  
  .close-btn:hover {
    background-color: #eaeaea;
  }
  .event-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .event-checkbox{
    flex-direction: row;
    align-items: center;
  }

  .event-input {
    padding: 5px 10px;
  }
  .event-boxes{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .event-checkbox input {
    cursor: pointer;
    margin-right: 0;
  }
  
  .event-checkbox div {
    padding-left: 0.5rem;
    cursor: pointer;
  }

  .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem; /* Larger close button */
    width: 2.5rem; /* Increased size */
    height: 2.5rem; /* Increased size */
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    transition: background-color 250ms;
    color: #333;
  }

  .close-btn:hover {
    background-color: #eaeaea;
  }

  .event-row {
    display: flex;
  }


.event-row > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 0.5rem;
  }
  
  .event-row > :last-child {
    margin-right: 0;
  }
  
  .row.left > * {
    flex-grow: 0;
  }

  