*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --blue-background: hsl(200, 80%, 50%);
  --border-color: #dadce0;
  --border-size: 1px;
  --day-padding: 0.25rem;
  --red-background: hsl(0, 75%, 60%);
  --green-background: hsl(150, 80%, 30%);
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}